#title {
  text-align: center;
  font-weight: bold;
  font-size: 3.8rem;
}

#description {
  text-align: center;
  font-weight: medium;
  font-size: 1.4rem;
}

body {
  display: flex;
  justify-conent: center;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px Arial;
  background: lightyellow;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}
