#title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px 0 0 0;
}

.visHolder {
  margin-left: 140px;
}

#description {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 10px 0 0 0;
}

.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px Arial;
  background: lightyellow;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  align-items: center;
  flex-direction: vertical;
  justify-content: center;
}
