/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(0, 0, 0, 0);
}

.intro {
    background-image: url('https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.about {
    background-color: #ffffff05;
    padding: 100px;
}

.parallax {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.parallax-background {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.btn:hover {
    background-color: #0056b3;
}

/* Add more CSS for additional sections and styling as needed */

